{% extends "base.html" %}

{% block content %}
    <h2 class="text-center mb-4">Ваши заявления</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Номер автомобиля</th>
                <th>Описание</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
                <tr>
                    <td>{{ ticket.car_number }}</td>
                    <td>{{ ticket.description }}</td>
                    <td>{{ ticket.status }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('create_ticket') }}" class="btn btn-success">Создать новое заявление</a>
{% endblock %}